## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df["CLASSIFICATION"].value_counts()

for classification, count in classification_value_counts.items():
    if count > 1:
        print(f"{classification}: {count}")

C1000: 17326
C2000: 6074
C1200: 4837
C3000: 1918
C2100: 1883
C7000: 777
C1700: 287
C4000: 194
C5000: 116
C1270: 114
C2700: 104
C2800: 95
C7100: 75
C1300: 58
C1280: 50
C1230: 36
C1400: 34
C7200: 32
C2300: 32
C1240: 30
C8000: 20
C7120: 18
C1500: 16
C1800: 15
C6000: 15
C1250: 14
C8200: 11
C1238: 10
C1278: 10
C1235: 9
C1237: 9
C7210: 7
C2400: 6
C1720: 6
C4100: 6
C1257: 5
C1600: 5
C1260: 3
C2710: 3
C0: 3
C3200: 2
C1234: 2
C1246: 2
C1267: 2
C1256: 2

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

# Iterate over the counts
for classification, count in classification_value_counts.items():
    if count < 1880:
        classifications_to_replace.append(classification)

# print(classifications_to_replace)

# # Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_df["INCOME_AMT"].dtype

dtype('O')

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
# application_df_copy =  application_df.copy()
application_dummies = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION', \
                                                       'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', \
                                                       'SPECIAL_CONSIDERATIONS'], drop_first=True)

# print(dummies[:3])
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"]
X = application_dummies.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
X_train_scaled[:1]

array([[ 0.01394306, -0.03348439, -0.12647487, -0.1803104 , -1.93323172,
        -0.21721176, -0.18886807,  5.27316518, -0.14490076, -0.14712247,
        -0.4053369 ,  2.1506258 , -0.24198608, -0.24360198, -0.26416456,
        -0.04500615, -1.07924659, -0.03180805, -0.00623504, -0.01972038,
        -0.06215637, -0.00881785, -2.13840836,  2.25801349, -0.11744636,
        -0.033595  ,  0.67506919, -0.14849557, -0.12694995, -0.32918556,
        -0.08347349, -0.16981325, -0.35186578, -0.06401969, -0.06987849,
        -0.02789425]])

## Compile, Train and Evaluate the Model

In [20]:
print(len(X_train.columns))

36

In [65]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5
# hidden_nodes_layer3 = 3

nn = tf.keras.models.Sequential()

# Input layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# 1st hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# # 2nd hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_14"

 Layer (type)                          Output Shape                         Param #

 dense_40 (Dense)                      (None, 10)                               370

 dense_41 (Dense)                      (None, 5)                                 55

 dense_42 (Dense)                      (None, 1)                                  6

 Total params: 431 (1.68 KB)

 Trainable params: 431 (1.68 KB)

 Non-trainable params: 0 (0.00 B)

In [66]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804  2s 2ms/step - accuracy: 0.6468 - loss: 0.6393
Epoch 2/100
804/804  3s 2ms/step - accuracy: 0.7284 - loss: 0.5655
Epoch 3/100
804/804  1s 2ms/step - accuracy: 0.7275 - loss: 0.5653
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7285 - loss: 0.5578
Epoch 5/100
804/804  1s 2ms/step - accuracy: 0.7311 - loss: 0.5562
Epoch 6/100
804/804  3s 3ms/step - accuracy: 0.7327 - loss: 0.5532
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7284 - loss: 0.5555
Epoch 8/100
804/804  3s 2ms/step - accuracy: 0.7289 - loss: 0.5561
Epoch 9/100
804/804  1s 2ms/step - accuracy: 0.7324 - loss: 0.5546
Epoch 10/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5477
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7320 - loss: 0.5528
Epoch 12/100
804/804  3s 2ms/step - accuracy: 0.7341 - loss: 0.5477
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5516
Epoch 14/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5460
Epoch 15/100
804/804  1s 2ms/step - accuracy: 0.7347 - loss: 0.5476
Epoch 16/100
804/804  1s 2ms/step - accuracy: 0.7344 - loss: 0.5479
Epoch 17/100
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5461
Epoch 18/100
804/804  3s 3ms/step - accuracy: 0.7412 - loss: 0.5430
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7317 - loss: 0.5503
Epoch 20/100
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5481
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5437
Epoch 22/100
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5478
Epoch 23/100
804/804  1s 2ms/step - accuracy: 0.7322 - loss: 0.5464
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.7334 - loss: 0.5453
Epoch 25/100
804/804  1s 2ms/step - accuracy: 0.7356 - loss: 0.5446
Epoch 26/100
804/804  3s 2ms/step - accuracy: 0.7323 - loss: 0.5465
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7344 - loss: 0.5476
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7344 - loss: 0.5468
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7333 - loss: 0.5477
Epoch 30/100
804/804  3s 2ms/step - accuracy: 0.7344 - loss: 0.5462
Epoch 31/100
804/804  1s 2ms/step - accuracy: 0.7341 - loss: 0.5463
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7343 - loss: 0.5461
Epoch 33/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5448
Epoch 34/100
804/804  1s 2ms/step - accuracy: 0.7357 - loss: 0.5464
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5439
Epoch 36/100
804/804  4s 3ms/step - accuracy: 0.7358 - loss: 0.5429
Epoch 37/100
804/804  1s 2ms/step - accuracy: 0.7338 - loss: 0.5475
Epoch 38/100
804/804  1s 2ms/step - accuracy: 0.7392 - loss: 0.5416
Epoch 39/100
804/804  1s 2ms/step - accuracy: 0.7356 - loss: 0.5466
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.7354 - loss: 0.5428
Epoch 41/100
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5439
Epoch 42/100
804/804  4s 3ms/step - accuracy: 0.7337 - loss: 0.5428
Epoch 43/100
804/804  1s 2ms/step - accuracy: 0.7422 - loss: 0.5361
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5416
Epoch 45/100
804/804  3s 2ms/step - accuracy: 0.7305 - loss: 0.5498
Epoch 46/100
804/804  1s 2ms/step - accuracy: 0.7335 - loss: 0.5467
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5440
Epoch 48/100
804/804  3s 3ms/step - accuracy: 0.7387 - loss: 0.5407
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5433
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7394 - loss: 0.5406
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5409
Epoch 52/100
804/804  1s 2ms/step - accuracy: 0.7370 - loss: 0.5444
Epoch 53/100
804/804  1s 2ms/step - accuracy: 0.7388 - loss: 0.5395
Epoch 54/100
804/804  2s 3ms/step - accuracy: 0.7381 - loss: 0.5425
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5383
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5423
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5428
Epoch 58/100
804/804  3s 2ms/step - accuracy: 0.7361 - loss: 0.5459
Epoch 59/100
804/804  3s 2ms/step - accuracy: 0.7381 - loss: 0.5403
Epoch 60/100
804/804  2s 3ms/step - accuracy: 0.7346 - loss: 0.5436
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5415
Epoch 62/100
804/804  1s 2ms/step - accuracy: 0.7353 - loss: 0.5430
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7325 - loss: 0.5437
Epoch 64/100
804/804  3s 2ms/step - accuracy: 0.7382 - loss: 0.5407
Epoch 65/100
804/804  1s 2ms/step - accuracy: 0.7370 - loss: 0.5416
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5402
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5402
Epoch 68/100
804/804  1s 2ms/step - accuracy: 0.7399 - loss: 0.5389
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7369 - loss: 0.5418
Epoch 70/100
804/804  1s 2ms/step - accuracy: 0.7404 - loss: 0.5378
Epoch 71/100
804/804  1s 2ms/step - accuracy: 0.7416 - loss: 0.5375
Epoch 72/100
804/804  1s 2ms/step - accuracy: 0.7395 - loss: 0.5399
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5410
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.7385 - loss: 0.5412
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.7329 - loss: 0.5499
Epoch 76/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5430
Epoch 77/100
804/804  1s 2ms/step - accuracy: 0.7314 - loss: 0.5432
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5373
Epoch 79/100
804/804  3s 3ms/step - accuracy: 0.7394 - loss: 0.5411
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.7356 - loss: 0.5461
Epoch 81/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5391
Epoch 82/100
804/804  1s 2ms/step - accuracy: 0.7392 - loss: 0.5400
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5391
Epoch 84/100
804/804  3s 2ms/step - accuracy: 0.7322 - loss: 0.5474
Epoch 85/100
804/804  3s 3ms/step - accuracy: 0.7380 - loss: 0.5418
Epoch 86/100
804/804  1s 2ms/step - accuracy: 0.7364 - loss: 0.5415
Epoch 87/100
804/804  1s 2ms/step - accuracy: 0.7380 - loss: 0.5384
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5423
Epoch 89/100
804/804  3s 2ms/step - accuracy: 0.7392 - loss: 0.5424
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5418
Epoch 91/100
804/804  4s 3ms/step - accuracy: 0.7386 - loss: 0.5417
Epoch 92/100
804/804  4s 2ms/step - accuracy: 0.7325 - loss: 0.5462
Epoch 93/100
804/804  1s 2ms/step - accuracy: 0.7378 - loss: 0.5413
Epoch 94/100
804/804  1s 2ms/step - accuracy: 0.7364 - loss: 0.5453
Epoch 95/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5419
Epoch 96/100
804/804  2s 3ms/step - accuracy: 0.7370 - loss: 0.5440
Epoch 97/100
804/804  2s 3ms/step - accuracy: 0.7390 - loss: 0.5414
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5416
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7424 - loss: 0.5339
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7375 - loss: 0.5394

In [68]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7264 - loss: 0.5534
Loss: 0.5533870458602905, Accuracy: 0.7264139652252197

In [70]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")
from google.colab import files
files.download("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.